@model HomeVM
@{
    ViewData["Title"] = "Index";
}

<main>
    <section class="section hero">
        <div class="col-xl-10  col-xxl-8 px-3 py-5">
            <div class="row   g-lg-5 ">
                <div class="col-lg-7 text-center text-lg-start">
                    <h1 class=" fs-1 fw-bold lh-1 mb-3">WELCOME TO DAY</h1>
                    <p class="col-lg-10  fs-4">
                        We are team of talented designers making websites with Bootstrap
                    </p>
                </div>
                <div>

                    <button type="button" class="btn btn-outline-light btn-lg">GET STARTED</button>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="https://bootstrapmade.com/demo/templates/Day/assets/img/about.jpg"
                         class="d-block mx-lg-auto" alt="Bootstrap Themes" width="500" height="500" loading="lazy">
                </div>
                <div class="col-lg-6">
                    <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
                    <p class="lead text-mude">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <p class="text-muted">
                        <i class="bi icon bi-plus-circle "></i> Ullamco laboris nisi ut aliquip
                        ex ea commodo consequat.
                    </p>
                    <p class="text-muted">
                        <i class="bi icon bi-plus-circle"></i> Duis aute irure dolor in
                        reprehenderit in voluptate velit.
                    </p>
                    <p class="text-muted">
                        <i class="bi icon bi-plus-circle"></i> Ullamco laboris nisi ut aliquip ex
                        ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta
                        storacalaperda mastiro dolore eu fugiat nulla pariatur.
                    </p>
                    <p class="text-muted">
                        Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                        anim id est laborum
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row   px-4 py-5">
            <div class="col ">
                <div class="card  h-100">
                    <div class="card-body pt-5 pb-5">
                        <h2 class="icon2">01</h2>
                        <h5 class="card-title">Lorem Ipsum</h5>
                        <p class="card-text text-muted">
                            Ulamco laboris nisi ut aliquip ex ea commodo consequat. Et
                            consectetur ducimus vero placeat
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body pt-5 pb-5">
                        <h2 class="icon2">02</h2>
                        <h5 class="card-title">Repellat Nihil</h5>
                        <p class="card-text text-muted">
                            Dolorem est fugiat occaecati voluptate velit esse. Dicta
                            veritatis dolor quod et vel dire leno para dest
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body pt-5 pb-5">
                        <h2 class="icon2">03</h2>
                        <h5 class="card-title">Ad ad velit qui</h5>
                        <p class="card-text text-muted">
                            Molestiae officiis omnis illo asperiores. Aut doloribus
                            vitae sunt debitis quo vel nam quis
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container section3">
        <div class="row d-flex align-items-center  ">
            <div class="col-lg-2 col-md-4 col-6">
                <img src="https://bootstrapmade.com/demo/templates/Day/assets/img/clients/client-1.png"
                     class="img-fluid" alt="">
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <img src="https://bootstrapmade.com/demo/templates/Day/assets/img/clients/client-2.png"
                     class="img-fluid" alt="">
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <img src="https://bootstrapmade.com/demo/templates/Day/assets/img/clients/client-3.png"
                     class="img-fluid" alt="">
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <img src="https://bootstrapmade.com/demo/templates/Day/assets/img/clients/client-4.png"
                     class="img-fluid" alt="">
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <img src="https://bootstrapmade.com/demo/templates/Day/assets/img/clients/client-5.png"
                     class="img-fluid" alt="">
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <img src="https://bootstrapmade.com/demo/templates/Day/assets/img/clients/client-6.png"
                     class="img-fluid" alt="">
            </div>
        </div>
    </section>
    <section>
        <div class="px-4 py-5 my-5 text-center">
            <h2 class="display-5 fs-1 fw-bold">SERVICES</h2>
            <p class="fs-5 text-muted">Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        </div>
        <div class="container text-center" id="featured-3">
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                <div class="feature pt-5 pb-5 col">
                    <div class="feature-icon d-inline-flex align-items-center justify-content-centerbg-gradient text-white fs-2 mb-3">
                        <i class="bi icon3 bi-bell"></i>
                    </div>
                    <h2>Lorem Ipsum</h2>
                    <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                </div>
                <div class="feature pt-5 pb-5 col">
                    <div class="feature-icon d-inline-flex align-items-center justify-content-centerbg-gradient text-white fs-2 mb-3">
                        <i class="bi icon3 bi-bell"></i>
                    </div>
                    <h2>Sed ut perspiciatis</h2>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                </div>
                <div class="feature pt-5 pb-5 col">
                    <div class="feature-icon d-inline-flex align-items-center justify-content-centerbg-gradient text-white fs-2 mb-3">
                        <i class="bi icon3 bi-bell"></i>
                    </div>
                    <h2>Magni Dolores</h2>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
                </div>
            </div>
        </div>
        <div class="container text-center " id="featured-3">
            <div class="row g-4 prow-cols-1 row-cols-lg-3">
                <div class="feature pt-5 pb-5 col">
                    <div class="feature-icon d-inline-flex align-items-center justify-content-centerbg-gradient text-white fs-2 mb-3">
                        <i class="bi icon3 bi-bell"></i>
                    </div>
                    <h2>Lorem Ipsum</h2>
                    <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                </div>
                <div class="feature pt-5 pb-5 col">
                    <div class="feature-icon d-inline-flex align-items-center justify-content-centerbg-gradient text-white fs-2 mb-3">
                        <i class="bi icon3 bi-bell"></i>
                    </div>
                    <h2>Sed ut perspiciatis</h2>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                </div>
                <div class="feature pt-5 pb-5 col">
                    <div class="feature-icon d-inline-flex align-items-center justify-content-centerbg-gradient text-white fs-2 mb-3">
                        <i class="bi icon3 bi-bell"></i>
                    </div>
                    <h2>Magni Dolores</h2>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section5">
        <div class="col-xl-10 container col-xxl-8 px-3 py-5">
            <div class="row text-center g-lg-5 ">
                <div class="col text-lg-start">
                    <h1 class="text-center fs-2 fw-bold lh-1 mb-3">WELCOME TO DAY</h1>
                    <p class=" text-center col fs-5">
                        We are team of talented designers making websites with Bootstrap
                    </p>
                </div>
                <div>
                    <button type="button" class="btn btn-outline-light btn-lg">GET STARTED</button>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="px-4  my-5 text-center">
            <h2 class="display-5 fs-1 fw-bold">Portifolio</h2>
            <p class="fs-5 text-muted">Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        </div>
        <div style="display: flex; flex-direction:column; align-items:center;justify-content: center;">
            <ul style="display: flex;list-style-type: none;">
                <li class="nav-el" data-target="ALL" style="padding:16px 22px; cursor: pointer;">ALL</li>
                @foreach (var item in Model.Categories)
                {
                 <li class="nav-el" data-target="@item.Id" style="padding:16px 22px; cursor: pointer;">@item.Name</li>
                }
            </ul>
            <div class="boxes" style="display: flex; flex-wrap: wrap;">
                @foreach (var item in Model.Products)
                {

                  <div class="col">
                    <div data-id="@item.CategoryId" class="box">
                        <img src="~/assets/img/@item.Img" style="width: 400px;" height="400px" alt="">
                        <div class="middle">
                            <div class="text">
                                <h5>@item.Name</h5>
                                <p>@item.Desc</p>
                            </div>
                        </div>
                    </div>
                </div>
                }
                

            </div>
        </div>
    </section>
    <section class="container">
        <div class="px-4  my-5 text-center">
            <h2 class="display-5 fs-1 fw-bold">PRICING</h2>
            <p class="fs-5 text-muted">Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        </div>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col">
                <div class="card1 mb-4 rounded-3 shadow-sm">
                    <div class="py-3">
                        <h4 class="my-0 fw-normal">Free</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">
                            $0<small class="text-muted fs-5 fw-light">
                                /
                                month
                            </small>
                        </h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Aida dere</li>
                            <li>Nec feugiat nisl</li>
                            <li>Nulla at volutpat dola</li>
                            <del>Pharetra massa</del>
                            <li><del>Massa ultricies mi</del></li>
                        </ul>
                        <button type="button" class="btn btn-outline-danger btn-lg">GET STARTED</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card1 card-header4  mb-4 rounded-3 shadow-sm">
                    <div class="card-header4  text-white  py-3">
                        <h4 class="my-0 fw-normal">BUSINESS</h4>
                    </div>
                    <div class="card-body1">
                        <h1 class="card-title pricing-card-title">
                            $15<small class="text-muted fs-5 fw-light">
                                /
                                month
                            </small>
                        </h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Aida dere</li>
                            <li>Nec feugiat nisl</li>
                            <li>Nulla at volutpat dola</li>
                            <li><del>Pharetra massa</del></li>
                            <li>Massa ultricies mi</li>
                        </ul>
                        <div class="card-header4">

                            <button type="button" class="btn btn-outline-light btn-lg">GET STARTED</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card1 mb-4 rounded-3 border-primary">
                    <div class=" py-3 text-dark ">
                        <h4 class="my-0 fw-normal">DEVELOPER</h4>
                    </div>
                    <div class="card-body1">
                        <h1 class="card-title pricing-card-title">
                            $29<small class="text-muted fs-5 fw-light">
                                /
                                month
                            </small>
                        </h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Aida dere</li>
                            <li>Nec feugiat nisl</li>
                            <li>Nulla at volutpat dola</li>
                            <li>Pharetra massa</li>
                            <li>Massa ultricies mi</li>
                        </ul>
                        <button type="button" class="btn btn-outline-danger btn-lg">GET STARTED</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="px-4  my-5 text-center">
            <h2 class="display-5 fs-1 fw-bold">TEAM</h2>
            <p class="fs-5 text-muted">Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        </div>
        <div class="container marketing">
            <div class="row text-center">
                <div class="col-lg-4">
                    <img src="https://bootstrapmade.com/demo/templates/Day/assets/img/team/team-1.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="">

                    <h2>Walter White</h2>
                    <p>Chief Executive Officer</p>
                    <p>
                        Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
                    </p>
                    <p>
                        <a href="" class="me-4 text-reset">
                            <i class="bi text-muted bi-facebook"></i>
                        </a>
                        <a href="" class="me-4 text-reset">
                            <i class="bi text-muted bi-instagram"></i>
                        </a>
                        <a href="" class="me-4 text-reset">
                            <i class="bi text-muted bi-whatsapp"></i>
                        </a>
                    </p>
                </div>
                <div class="col-lg-4">
                    <img src="https://bootstrapmade.com/demo/templates/Day/assets/img/team/team-2.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="">
                    <h2>Sarah Jhinson</h2>
                    <p>CTO</p>
                    <p>Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus</p>
                    <p>
                        <a href="" class="me-4 text-reset">
                            <i class="bi text-muted bi-facebook"></i>
                        </a>
                        <a href="" class="me-4 text-reset">
                            <i class="bi text-muted bi-instagram"></i>
                        </a>
                        <a href="" class="me-4 text-reset">
                            <i class="bi text-muted bi-whatsapp"></i>
                        </a>
                    </p>
                </div>
                <div class="col-lg-4">
                    <img src="https://bootstrapmade.com/demo/templates/Day/assets/img/team/team-3.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="">
                    <h2>William Anderson</h2>
                    <p>Product Manager</p>
                    <p>Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara</p>
                    <p>
                        <a href="" class="me-4 text-reset">
                            <i class="bi text-muted bi-facebook"></i>
                        </a>
                        <a href="" class="me-4 text-reset">
                            <i class="bi text-muted bi-instagram"></i>
                        </a>
                        <a href="" class="me-4 text-reset">
                            <i class="bi text-muted bi-whatsapp"></i>
                        </a>
                    </p>
                </div>
            </div>
    </section>
    <section>
        <div class="px-4  my-5 text-center">
            <h2 class="display-5 fs-1 fw-bold">CONTACT</h2>
            <p class="fs-5 text-muted">Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        </div>
    </section>
</main>
